.counter{
    border:1px solid;
    width: 150px;
    border-radius: 10px;
}
.btn{
   
    /* background-color: darkgreen; */
    font-size: 30px;
    font-weight: 200px;
}
.input{
    width: 50px;
   
    /* border-radius: 5px; */
    height: 44px;
    text-align: center;
}